<div class="m-auto">
  <div class="split">
    <div class="pg-header">
      <h1>Play With JSON</h1>
      <div class="split">
        <div class="cl"></div>
        <div class="cc">
          <div class="btn-group">
            <button mat-raised-button color="primary" (click)="handle('unescape')">Unescape</button>
            <button mat-raised-button color="primary" (click)="handle('format')">Format</button>
            <button mat-raised-button color="primary" (click)="handle('sort')">Sort</button>
          </div>
        </div>
        <mat-form-field class="cr">
          <mat-label>Spaces</mat-label>
          <input matInput type="number" name="spaces" placeholder="Space" [(ngModel)]="spaces">
        </mat-form-field>
      </div>
    </div>
    <div class="split-1">
      <app-cm-editor-input name="msg" [(ngModel)]="data1" class="overflow-auto w-100"
        [focus]="true"></app-cm-editor-input>
    </div>
    <div class="split-2">
      <app-cm-editor-input name="msg" [(ngModel)]="data2" class="overflow-auto w-100"></app-cm-editor-input>
    </div>

  </div>

</div>
