@import "./mat-theme.scss";
/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Work Sans', "Helvetica Neue", sans-serif; }
.text-center {
  text-align: center;
}
.m-auto {
  margin: auto;
}
.go-right {
  justify-content: end;
  text-align: end;
  margin-left: auto;
}
.snack-bar {
  &-error {
    .mdc-snackbar__surface {
      background-color: red !important;
    }
  }
  &-success {
    .mdc-snackbar__surface {
      background-color: green !important;
    }
  }
  &-warn {
    .mdc-snackbar__surface {
      background-color: orange !important;
    }
  }
  &-info {
    .mdc-snackbar__surface {
      background-color: skyblue !important;
    }
  }
}
